body{
    background: linear-gradient(390deg, #0186a1 10%, #e88300 100%);
}

h1{
    text-align: center;
    font-size: 35px;
}

p{
    font-size: 20px;
    font-family:unset;
}

p:hover{
    color:  #ffffff;
    transition: 0.3s;
    background-color: #0aa866;
}

span:hover{
    color: rgb(1, 8, 138);}

img{
    width: 200px;
    display: block;
    margin: auto;
}